<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Doctors</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
	body{
		color: white;
		background-color: black;
	}
	table{
		margin-top: 170px;
		border-collapse: collapse;
	}
	th{
		color: white;
		height: 60px;
	}
	tr{
		height: 40px;
	}
	table, th, td {
  		border: 1px solid white;
	}
	h1{
		color: #c7444f;
		font-weight: 700;
		margin-top: 30px;
		text-align: center;
	}

	</style>
</head>
<body>
	<h1>
		Doctors And Timings
	</h1>
	<div class="col-md-8 m-auto">
		<table class="col-md-12">
			<thead class="text-center head">
				<th>Name</th>
				<th>Especialist</th>
				<th>Timings</th>
			</thead>
			<tbody class="body">
				<tr class="">
					<td>Dr. Asad</td>
					<td>Neurologist</td>
					<td>He will sit from 4pm-9pm Wed-Fri</td>
				</tr>
				<tr class="">
					<td>Dr. Abbas</td>
					<td>Psychiatrist</td>
					<td>He will sit 1pm-7pm Mon-Fri</td>
				</tr>
				<tr class="">
					<td>Dr. Saad</td>
					<td>General Physician</td>
					<td>He will sit from 4pm-9pm, Sat and Sunday</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>