/* body {
  background-color: #212121;
} */






.input {
  /* width: 500px; */
  padding: 10px;
  margin-left: 250px;
}
.input input {
  font-size: 1em;
  padding: 5px;
  border-radius: 3px;
}
.input input[type="text"] {
  /* margin-left: 10px ; */
  width: 735px !important;
}
.input input[type="button"] {
  width: 150px !important;
}
.button {
  background-color: #c7444f;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  border-color: #c7444f;
}
.left,
.right {
  clear: both;
  color: white;
  padding: 6px;
  display: block;
  width: 700px;
}
.right {
  float: right;
}
.left > *,
.right > * {
  border-radius: 10px;
  margin: 1px;
  padding: 10px 10px;
  clear: both;
}
.left > * {
  float: left;
  background-color: #c7444f;
}
.right > * {
  float: right;
  background-color: rgb(15, 15, 15);
}
