body{
  background-color: rgb(98, 98, 163) !important;
}
h1{
  /* position: absolute; */
  /* display: inline-block; */
  text-align:  center;
  color: red;
  margin: 10px;
  /* padding: 0px 0px; */
}

.main > .message{
    width: 100%;
  /* margin: auto; */
    overflow-x: hidden;
    height: 600px; 
    border-bottom: none;
    overflow-y: scroll;
    box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.18);
    border: 2px solid rgba(68, 68, 68, 0.18);
    border-radius: 7px;
}

input {
  font-size: 1em;
}

.left , .right{
  clear: both;
  color: white;
  padding: 2px;
  display: block;
  width: 520px;
}
.right {
  float: right;
}
.left > * , .right > *{
  border-radius: 20px;
  margin: 1px;
  padding: 3px 10px;
  clear: both;
}
.left > *{
  float: left;
  background-color : #c7444f;
}
.right > *{
  float: right;
  background-color : rgb(42, 37, 37)
}
form > div{
  display: inline-block;
}
.btn-div{
  float: right;
}
.side-left, .side-right,.main{
  display: inline-block;
}
.side-left, .side-right{
  background-color: rgba(79, 39, 189, 0.924) ;
  height:800px;
  
}
.side-right{
  color: rgb(212, 211, 211);
  float: right;
}
.side-left{
  float: left;
}
.list-group,.side-right > div{
  margin-top: 50px;
}
.active{
  border: none !important;
}
.list-group-item:hover{
  color: white;
  /* cursor: pointer !important; */
  background-color: rgba(0, 0, 0, 0.192) !important;
}
a:hover{
  color: white;
  text-decoration: none;
}

.list-group-item > a{
  text-decoration: none;
  color: rgb(212, 211, 211);

  display: block;
  padding: 20px 80px !important;
  background-color:  rgba(187, 187, 187, 0) !important;
}
.list-group-item{
  padding: 0px !important;
  background-color:  rgba(187, 187, 187, 0) !important;
}
h4{
  font-size: 1.3em !important;
  cursor: pointer;
}
.side-right ul {
  /* padding-bottom: 5px; */
}